In [2]:
import pandas as pd

In [3]:
immigrants_nat = pd.read_csv('immigrants_by_nationality.csv')
immigrants_nat.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,2017,2,Eixample,5,el Fort Pienc,Spain,663

In [4]:
#Get rid of District code and District Name
immigrants_nat_clean = immigrants_nat[["Year", "Neighborhood Code", "Neighborhood Name", "Nationality", "Number"]]
immigrants_nat_clean = immigrants_nat_clean.sort_values("Year")
immigrants_nat_clean.head()

,Year,Neighborhood Code,Neighborhood Name,Nationality,Number
35223,2015,99,No consta,No information,0
27630,2015,29,el Coll,Syria,0
27629,2015,28,Vallcarca i els Penitents,Syria,1
27628,2015,27,el Putxet i el Farró,Syria,3
27627,2015,26,Sant Gervasi - Galvany,Syria,4

In [5]:
immigrants_nat.shape

(35224, 7)

In [6]:
#Get rid of Nationality without information
immigrants_nat_clean = immigrants_nat_clean[immigrants_nat_clean.Nationality != "No information"]
immigrants_nat_clean.head()

       Year  Neighborhood Code           Neighborhood Name Nationality  Number
27630  2015                 29                     el Coll       Syria       0
27629  2015                 28   Vallcarca i els Penitents       Syria       1
27628  2015                 27        el Putxet i el Farró       Syria       3
27627  2015                 26      Sant Gervasi - Galvany       Syria       4
27626  2015                 25  Sant Gervasi - la Bonanova       Syria       1

In [7]:
#Less 222 rows
immigrants_nat_clean.shape

(35002, 5)

In [8]:
#Get rid of Neighborhood Code that dont have meaning
immigrants_nat_clean = immigrants_nat_clean[immigrants_nat_clean["Neighborhood Code"] != 99]
immigrants_nat_clean.head()

       Year  Neighborhood Code           Neighborhood Name Nationality  Number
27630  2015                 29                     el Coll       Syria       0
27629  2015                 28   Vallcarca i els Penitents       Syria       1
27628  2015                 27        el Putxet i el Farró       Syria       3
27627  2015                 26      Sant Gervasi - Galvany       Syria       4
27626  2015                 25  Sant Gervasi - la Bonanova       Syria       1

In [9]:
#Less 473 rows
immigrants_nat_clean.shape

(34529, 5)

In [10]:
#Number of unique nationalities in the city
n = immigrants_nat_clean["Nationality"].unique()
len(n)

176

In [22]:
immigrants_2017 = immigrants_nat_clean[immigrants_nat_clean['Year']== 2017]
                                         
immigrants_2017_byhood = immigrants_2017.groupby(['Neighborhood Code',"Neighborhood Name"], 
                                                 as_index=False).agg({'Number': "sum"})
immigrants_2017_byhood.head()

   Neighborhood Code                      Neighborhood Name  Number
0                  1                               el Raval    5398
1                  2                         el Barri Gòtic    2686
2                  3                         la Barceloneta    1759
3                  4  Sant Pere, Santa Caterina i la Ribera    2765
4                  5                          el Fort Pienc    2235

In [21]:
immigrants_2016 = immigrants_nat_clean[immigrants_nat_clean['Year']== 2016]
                                         
immigrants_2016_byhood = immigrants_2016.groupby(['Neighborhood Code',"Neighborhood Name"], 
                                                 as_index=False).agg({'Number': "sum"})
immigrants_2016_byhood.head()

   Neighborhood Code                      Neighborhood Name  Number
0                  1                               el Raval    4975
1                  2                         el Barri Gòtic    2197
2                  3                         la Barceloneta    1547
3                  4  Sant Pere, Santa Caterina i la Ribera    2376
4                  5                          el Fort Pienc    1990

In [14]:
immigrants_2015 = immigrants_nat_clean[immigrants_nat_clean['Year']== 2015]
                                         
immigrants_2015_byhood = immigrants_2015.groupby(['Neighborhood Code',"Neighborhood Name"], 
                                                 as_index=False).agg({'Number': "sum"})
immigrants_2015_byhood.head()

   Neighborhood Code                      Neighborhood Name  Number
0                  1                               el Raval    5335
1                  2                         el Barri Gòtic    2201
2                  3                         la Barceloneta    1553
3                  4  Sant Pere, Santa Caterina i la Ribera    2551
4                  5                          el Fort Pienc    2000

In [24]:
#Total immigrants by years
immigrants_2015_total = immigrants_2015_byhood["Number"].sum()
immigrants_2016_total = immigrants_2016_byhood["Number"].sum()
immigrants_2017_total = immigrants_2017_byhood["Number"].sum()

print("Total imigrants in 2017 = ", immigrants_2017_total)
print("Total imigrants in 2016 = ", immigrants_2016_total)
print("Total imigrants in 2015 = ", immigrants_2015_total)

Total imigrants in 2017 =  97280
Total imigrants in 2016 =  85123
Total imigrants in 2015 =  88911